<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {title: 'About us'}); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header.ejs'); %></header>

    <main>
      <div class="p-5 mb-4 bg-dark rounded-3">
        <div class="container-fluid py-5 text-white">
          <h1 class="display-5 fw-bold">About Us</h1>
          <p class="col-md-8 fs-4">
            Estudiando en coder, plantillas con express :)
          </p>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer.ejs'); %></footer>
  </body>
</html>
