nav(class='navbar navbar-expand-md navbar-dark bg-dark')
    div(class='container-fluid')
        a(class='navbar-brand' href='/productos') Desafío 5
        button(class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span(class='navbar-toggler-icon')
        div(class='collapse navbar-collapse' id='navbarSupportedContent')
            ul(class='navbar-nav me-auto mb-2 mb-lg-0')
                li(class='nav-item')
                    a(class='nav-link' href='/') Ingreso Productos
                li(class='nav-item')
                    a(class='nav-link' href='/productos') Listado Productos
            div(class='d-flex')
                a(class='btn btn-outline-success me-2' href='https://pugjs.org/api/getting-started.html') pug 3.0.2
                a(class='btn btn-outline-success' href='https://getbootstrap.com/docs/5.2/getting-started/introduction/') Bootstrap 5.2