<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/productos">Desafío 8</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Ingreso Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos">Listado Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/acercade">Acerca del Desafío</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="btn btn-outline-success me-2" href="https://www.npmjs.com/package/express-handlebars">
                    express-handlebars 6.0.6</a>
                <a class="btn btn-outline-success"
                    href="https://getbootstrap.com/docs/5.2/getting-started/introduction/">
                    Bootstrap 5.2</a>
            </div>
        </div>
    </div>
</nav>