extends layouts/layout.pug

block cabecera
    include partials/head.pug

block contenido
    include partials/barraMenu.pug
    main(class='container fondo-gris p-5 mt-3')
        div(class='row')
            div(class='col')
            div(class='col-10 col-md-8')
                h1(class='mt-3 mb-3 text-primary') Ingrese Producto
                form
                    div(class='mb-3')
                        label(for='name' class='form-label') Nombre
                        input(type='text' class='form-control' id='name')
                    div(class='mb-3')
                        label(for='price' class='form-label') Precio
                        input(type='number' class='form-control' id='price')
                    div(class='mb-3')
                        label(for='url' class='form-label') Foto URL
                        input(type='text' class='form-control' id='url')
                button(class='btn btn-primary' id='enviar') Enviar
            div(class='col')

block pie
    include partials/piePagina.pug